<div>
  <button id="random-word">Word</button>
  <p id="word"></p>
</div>
<div>
  <button id="random-user">User</button>
  {{!-- <div id="user"></div> --}}
  <div id="user-name"></div>
  <div id="user-gender"></div>
  <div id="user-cell"></div>
  <div id="user-dob"></div>
  <div id="user-email"></div>
  <div id="user-picture"></div>
</div>
